@{
    Layout = "_AdminLayout";
}

@model IEnumerable<DarlingCellSolutions.Domain.Entidades.Seguridad.Usuario>

<h2>Usuarios</h2>

<a asp-action="Crear" class="btn btn-primary mb-3">
    Nuevo Usuario
</a>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>Nombres</th>

            <th>Apellidos</th>

            <th>Usuario</th>

            <th>Correo</th>

            <th>Rol</th>

            <th width="180"></th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Nombres</td>

                <td>@item.Apellidos</td>

                <td>@item.NombreUsuario</td>

                <td>@item.Correo</td>

                <td>@item.Rol.Nombre</td>

                <td>

                    <a asp-action="Editar"
                       asp-route-id="@item.Id"
                       class="btn btn-warning btn-sm">

                        Editar

                    </a>

                    <a asp-action="Eliminar"
                       asp-route-id="@item.Id"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Eliminar usuario?')">

                        Eliminar

                    </a>

                </td>

            </tr>
        }

    </tbody>

</table>